.list-group-item a:hover {
  text-decoration: underline;
}

.card-body hr {
  margin: 1rem 0;
}
.form-control, .form-select {
  box-shadow: none;
  border-radius: 0.5rem;
}
.ms-3 h6 {
  font-weight: 600;
}
